# Ignore virtual environments
../.venv/
env/
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE/editor configs
.idea/
.vscode/
*.iml

# Ignore logs
*.log

# Ignore OS/system files
.DS_Store
Thumbs.db

# Ignore build artifacts
dist/
build/
*.egg-info/
